@import "../helper/variables";
@import "../helper/mixins";

.__slot-watch {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    @include square(100%);
    background-color: $deep-black;
}

.__slot-watchlist {
    padding-top: 7.5rem;

    @include is-desktop {
        padding-top: 10rem;
    }
}

.is-landscape {
    @include on-touch {
        @include rotate-html;
    }
}

.hide-cursor {
    cursor: none;
}

.no-scroll {
    overflow: hidden;
}

.__block {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    @include is-desktop {
        margin-bottom: 5rem;
    }
}
}
