@import "../helper/variables";
@import "../helper/mixins";

.block-seasons {
    .block-seasons-inner {
        margin: -1rem 0;
    }

    .season-list {
        margin: 1rem 0;
    }

    .block-seasons-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include text(h3);
        padding: 0 2rem;
        margin-bottom: 3rem;
    }

    .season-list-episode-count {
        display: none;
        margin-left: 2rem;
        color: $dark-gray;
    }

    @include is-desktop {
        .season-list-episode-count {
            display: inline-block;
        }

        .block-seasons-head {
            padding: 0 4rem;
        }
    }
}
