@import "../helper/variables";
@import "../helper/mixins";

.block-slider {
    position: relative;
    overflow: hidden;
    opacity: 0;

    &.is-mounted {
        opacity: 1;
    }

    .block-slider-head {
        display: flex;
        align-items: center;
        @include content-width;
        padding-bottom: 2rem;
        @include text(h3);
    }

    .block-slider-head-group {
        display: flex;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .block-slider-type {
        color: $dark-gray;
        margin-left: 1rem;
    }

    .block-slider-frame {
        position: relative;
    }

    .block-slider-container {
        position: relative;
        overflow: visible;
        @include content-width;
        padding-bottom: 5rem;
    }

    .block-slider-slide {
        overflow: visible;
        will-change: transform;
        backface-visibility: hidden;
    }

    .block-slider-drag-info {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 100%;
        color: $dark-gray;
        @include text(p);
    }

    .block-slider-next-container,
    .block-slider-prev-container {
        position: absolute;
        z-index: 1;
        display: none;
        justify-content: center;
        align-items: center;
        height: calc(100% - 10rem);
        @include outer-content-margin;

        .icon-chevron-right,
        .icon-chevron-left {
            min-width: 7rem;
            width: 7rem;
            height: 7rem;
            opacity: 0;
            @include transition(transform opacity, 0.2s);
        }
    }

    .block-slider-next-container {
        right: 0;
        top: 0;
        padding-left: 1.5rem;
        background: linear-gradient(270deg, $black-75 0%, transparent 100%);

        @include hover {
            .icon-chevron-right {
                transform: scale(1.25);
            }
        }

        &:active {
            .icon-chevron-right {
                transform: scale(1.1);
            }
        }
    }

    .block-slider-prev-container {
        right: auto;
        left: 0;
        padding-right: 1.5rem;
        background: linear-gradient(270deg, transparent 0%, $black-75 100%);

        @include hover {
            .icon-chevron-left {
                transform: scale(1.25);
            }
        }

        &:active {
            .icon-chevron-left {
                transform: scale(1.1);
            }
        }
    }



    @include hover {
        .block-slider-next-container,
        .block-slider-prev-container {
            &.has-prev {
                .icon-chevron-left {
                    opacity: 1;
                }
            }

            .icon-chevron-right {
                opacity: 1;
            }
        }
    }

    @include is-desktop {
        .slider-controls {
            display: none;
        }

        .block-slider-type {
            margin-left: 2rem;
        }

        .block-slider-container {
            padding-bottom: 10rem;
        }

        .block-slider-drag-info {
            height: 10rem;
        }

        .block-slider-next-container,
        .block-slider-prev-container {
            display: flex;
        }
    }
}
