@import "../helper/variables";
@import "../helper/mixins";

.navigation {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, $black 0%, transparent 100%);

    &.mobile-active {
        .mobile-navigation {
            transform: translate3d(0, 0, 0);
        }
    }

    .navigation-hamburger {
        @include square(2.5rem);
        margin-left: 1rem;
    }

    .navigation-inner {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        padding: 2rem 0;
        @include content-width;
        line-height: 1;
    }

    .navigation-highlight {
        color: $primary;
    }

    .navigation-link-group {
        display: none;
        margin: 0 -1rem 0 5rem;

        .navigation-link {
            margin: 0 1rem;
        }
    }

    .navigation-controls-group {
        display: flex;
        margin-left: auto;
    }

    .navigation-logo {
        font-size: 2.5rem;
        letter-spacing: -0.15rem;
        font-weight: 900;
    }

    .mobile-navigation {
        z-index: 1;
        transform: translate3d(100%, 0, 0);
    }

    .search {
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 7.5rem;
        background-color: $black-95;
    }

    .navigation-search {
        @include square(2.5rem);
        @include transition(color, 0.1s);
    }

    @include is-desktop {
        .navigation-search {
            color: $gray;

            @include hover {
                color: $white;
            }
        }

        .navigation-link-group {
            display: flex;
        }

        .navigation-inner {
            padding: 3rem 0;
        }

        .mobile-navigation,
        .navigation-hamburger {
            display: none;
        }

        .search {
            padding-top: 10rem;
            background-color: $black-95;
        }
    }
}
