@import "../helper/variables";
@import "../helper/mixins";

.player {
    position: relative;
    @include square(100%);

    .player-loading {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .player-video {
        position: absolute;
        top: 0;
        bottom: 0;
        @include square(100%);
        margin: auto;
        pointer-events: none;
        user-select: none;
    }

    .player-overlay,
    .player-mobile-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        @include square(100%);
    }

    .player-mobile-overlay {
        display: none;
    }

    .player-controls {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    @include on-landscape {
        .player-mobile-overlay {
            display: block;
        }

        .player-overlay {
            display: none;
        }
    }
}
