@import "../helper/variables";
@import "../helper/mixins";

.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    @include square(100%);
    overflow: hidden;
    opacity: 0;
    animation: fade-in 0.2s ease forwards;
    will-change: opacity;

    .popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        @include square(100%);
        background-color: $black;
        opacity: 0.85;
    }

    .popup-stage {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include square(100%);
        overflow-y: scroll;
    }

    @keyframes fade-in {
        100% {
            opacity: 1;
        }
    }

    @include is-desktop {
        .popup-stage {
            padding-top: 5rem;
        }
    }
}
