@import "../helper/variables";
@import "../helper/mixins";

.block-slider {
    position: relative;
    overflow: hidden;

    .block-slider-head {
        display: flex;
        @include content-width;
        padding-bottom: 2rem;
        @include text(h3);
    }

    .block-slider-type {
        color: $dark-gray;
        margin-left: 2rem;
    }

    .block-slider-overlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(270deg, $black-50 0%, transparent 50%);
        pointer-events: none;
    }

    .block-slider-frame {
        position: relative;
    }

    .block-slider-container {
        position: relative;
        overflow: visible;
        @include content-width;
        padding-bottom: 10rem;
    }

    .block-slider-slide {
        overflow: visible;
        will-change: transform;
        backface-visibility: hidden;
    }

    .block-slider-drag-info {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 100%;
        color: $dark-gray;
        @include text(p);
    }

    .block-slider-next-container,
    .block-slider-prev-container {
        position: absolute;
        z-index: 1;
        display: flex;
        align-items: center;
        height: calc(100% - 10rem);
        pointer-events: auto;
        opacity: 0;
        @include transition(opacity, 0.1s);
    }

    .block-slider-next-container {
        right: 0;
        top: 0;

        @include hover {
            .icon-chevron-right {
                transform: scale(1.25);
            }
        }

        &:active {
            .icon-chevron-right {
                transform: scale(1.1);
            }
        }
    }

    .block-slider-prev-container {
        right: auto;
        left: 0;

        @include hover {
            .icon-chevron-left {
                transform: scale(1.25);
            }
        }

        &:active {
            .icon-chevron-left {
                transform: scale(1.1);
            }
        }
    }

    .icon-chevron-right,
    .icon-chevron-left {
        width: 6.8rem;
        height: 6.8rem;
        @include transition(transform, 0.2s);
    }

    @include hover {
        &.has-prev {
            .block-slider-prev-container {
                opacity: 1;
            }
        }

        .block-slider-next-container {
            opacity: 1;
        }
    }
}
