@import "../helper/variables";
@import "../helper/mixins";

.card-progress {
    .card-progress-bar {
        position: relative;
        width: 100%;
        height: 0.4rem;
        border-radius: 0.2rem;
        background-color: $dark-gray;
        overflow: hidden;
    }

    .card-progress-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: $white;
    }
}
