@import "../helper/variables";
@import "../helper/mixins";

.player-progress {
    display: flex;
    align-items: center;

    .player-progress-timestamp {
        text-align: right;
        min-width: 6rem;
        opacity: 0;

        &.is-active {
            opacity: 1;
        }
    }

    .player-progress-bar {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 0.85rem;
        @include transition(opacity, 0.2s);

        @include hover {
            .player-progress-frame {
                height: 0.85rem;
            }

            .player-mouse-indicator {
                opacity: 1;
            }
        }
    }

    .player-progress-inner,
    .player-progress-buffer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        will-change: transform;
        backface-visibility: hidden;
    }

    .player-progress-inner {
        z-index: 1;
        background-color: $primary;
    }

    .player-progress-buffer {
        background-color: $white;
    }

    .player-progress-knob {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        @include square(2rem);
        border-radius: 50%;
        background-color: $primary;
        will-change: left;
        backface-visibility: hidden;
    }

    .player-mouse-indicator {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        transform: translateX(-50%);
        opacity: 0;
        height: 100%;
        width: 0.2rem;
        background-color: $gray-black;
        will-change: left;
        pointer-events: none;
        user-select: none;

        &.is-active {
            opacity: 1;
        }
    }

    .player-mouse-indicator-time {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - 1rem));
        background-color: $gray-black;
        padding: 0.5rem 1rem;
        border-radius: $radius;
    }

    .player-progress-frame {
        position: relative;
        width: 100%;
        height: 0.5rem;
        background-color: $gray;
        overflow: hidden;
    }

    @include on-landscape {
        .player-mouse-indicator {
            display: none;
        }
    }
}
