@import "../helper/variables";
@import "../helper/mixins";

.player-volume-touch {
    position: relative;
    display: flex;
    align-items: center;

    &.is-muted {
        .player-volume-progress {
            pointer-events: none;
        }

        .player-volume-progress-inner,
        .player-volume-progress-knob {
            opacity: 0;
        }
    }

    .player-volume-button {
        @include player-controls-hover(volume, volume-muted);
    }

    .player-volume-progress-wrapper {
        margin-left: 1rem;
    }

    .player-volume-progress-frame {
        position: relative;
    }

    .player-volume-progress {
        position: relative;
        height: 0.5rem;
        width: 15rem;
        border-radius: 0.25rem;
        background-color: $gray;
        overflow: hidden;
    }

    .player-volume-progress-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform: scaleX(1);
        transform-origin: left;
        will-change: transform;
        backface-visibility: hidden;
        background-color: $white;
    }

    .player-volume-progress-knob {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        @include square(1.5rem);
        border-radius: 50%;
        background-color: $primary;
        will-change: bottom;
        backface-visibility: hidden;
        pointer-events: none;
    }
}
