//region Colors
$body: #121212;
$black: #121212;
$black-50: rgba(18, 18, 18, 0.5);
$black-75: rgba(18, 18, 18, 0.75);
$white: #fff;
$gray: #c4c4c4;

$primary: #bb86fc;
$error: #cf6679;
//endregion


//region Border
$radius: 1rem;
//endregion


//region Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 2000px;
//endregion Breakpoints


//region Font
$font-breakpoints: (
    large: $breakpoint-desktop,
);

$font-weights: (
    regular: 400,
    bold: 600,
);

$font-settings: (
    small: (
        h1: (
            font-size: 3.5rem,
            font-weight: map-get($font-weights, bold),
            line-height: 1,
        ),
        h2: (
            font-size: 3rem,
            font-weight: 600,
            line-height: 1,
        ),
        h3: (
            font-size: 2rem,
            font-weight: 600,
            line-height: 1,
        ),
        button: (
            font-size: 1.5rem,
            font-weight: map-get($font-weights, bold),
            line-height: 1,
        ),
        p: (
            font-size: 1.5rem,
            font-weight: 400,
            line-height: 1.2,
        ),
        meta: (
            font-size: 1.5rem,
            line-height: 1,
            color: $gray,
        ),
    ),
    large: (
        h1: (
            font-size: 5rem,
        ),
        h2: (
            font-size: 3.5rem,
        ),
        h3: (
            font-size: 2.5rem,
        ),
        p: (
            font-size: 1.7rem,
        ),
    ),
);
//endregion
