//region Colors
$deep-black: #000;
$body: #121212;
$black: #121212;
$gray-black: #181818;
$black-50: rgba(18, 18, 18, 0.5);
$black-75: rgba(18, 18, 18, 0.75);
$black-95: rgba(18, 18, 18, 0.95);
$black-100: rgba(18, 18, 18, 1);
$white: #fff;
$gray: #c4c4c4;
$dark-gray: #717171;

$primary: #60a8f0;
$error: #cf6679;
//endregion


//region Border
$radius: 0;
//endregion


//region Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1600px;
//endregion Breakpoints


//region Font
$font-breakpoints: (
    large: $breakpoint-desktop,
);

$font-weights: (
    regular: 400,
    bold: 600,
);

$font-settings: (
    small: (
        h1: (
            font-size: 3.5rem,
            font-weight: map-get($font-weights, bold),
            letter-spacing: -0.15rem,
            line-height: 1,
        ),
        h2: (
            font-size: 3rem,
            font-weight: 600,
            letter-spacing: -0.05rem,
            line-height: 1,
        ),
        h3: (
            font-size: 2rem,
            font-weight: 600,
            letter-spacing: -0.1rem,
            line-height: 1,
        ),
        h4: (
            font-size: 1.5rem,
            font-weight: 600,
            letter-spacing: -0.05rem,
            line-height: 1.3,
        ),
        button: (
            font-size: 1.5rem,
            font-weight: map-get($font-weights, bold),
            letter-spacing: -0.05rem,
            line-height: 1,
        ),
        p: (
            font-size: 1.5rem,
            font-weight: 400,
            letter-spacing: -0.05rem,
            line-height: 1.2,
        ),
        meta: (
            font-size: 1.5rem,
            line-height: 1,
            letter-spacing: -0.05rem,
            color: $gray,
        ),
        navigation: (
            font-size: 1.5rem,
            font-weight: 600,
        ),
        episode-number: (
            font-size: 2rem,
        ),
    ),
    large: (
        h1: (
            font-size: 5rem,
        ),
        h2: (
            font-size: 3.5rem,
        ),
        h3: (
            font-size: 2.5rem,
        ),
        h4: (
            font-size: 2rem,
        ),
        p: (
            font-size: 1.7rem,
        ),
        episode-number: (
            font-size: 5rem,
        ),
    ),
);
//endregion
