@import "../helper/variables";
@import "../helper/mixins";

.card {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: $radius;
    transform: translateZ(0);
    overflow: hidden;
    @include fit-aspect-ratio(150%);
    @include transition(transform, 0.3s);

    .card-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card-image-wrapper {
        width: 100%;
        height: 100%;
        background-color: $gray-black;
    }

    .card-image {
        @include transition(transform, 0.3s);
    }

    .card-frame {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include square(100%);
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        @include transition(opacity, 0.3s);
    }

    .card-frame-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .card-frame-controls {
        display: flex;
        flex-wrap: wrap;

        .button {
            width: 100%;

            &:last-child {
                margin-top: 1rem;
            }
        }
    }

    .card-frame-watchlist-button {
        @include square(2rem);

        &.is-active {
            .icon-star {
                fill: $white;
            }
        }

        @include hover {
            .icon-star {
                fill: $white;
            }
        }
    }

    .icon-star {
        @include transition(fill, 0.1s);
    }

    .card-frame-title {
        @include text(h4);
    }

    .card-frame-text {
        color: $gray;
    }

    @include hover {
        transform: translateY(-1.5rem) translateZ(0);

        .card-image {
            transform: scale(1.025);
        }

        .card-frame {
            opacity: 1;
        }
    }
}
