@import "../helper/variables";
@import "../helper/mixins";

.player-controls {
    padding: 5rem 3rem 3rem;
    background: linear-gradient(0deg, $black-75 0%, transparent 100%);

    &.subtitles-active {
        .player-subtitles-list {
            opacity: 1;
            pointer-events: auto;
        }

        .player-progress {
            opacity: 0;
        }
    }

    .player-controls-back {
        position: fixed;
        z-index: 1;
        top: 3rem;
        left: 3rem;
        @include player-controls-hover(arrow-left, arrow-left);
    }

    .player-progress {
        margin-bottom: 2rem;
    }

    .player-controls-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .player-controls-group {
        display: flex;
        align-items: center;

        .player-fullscreen {
            margin-left: 4rem;
        }
    }

    .player-controls-title {
        @include text(h3);
    }

    .player-skip-wrapper {
        display: flex;
        align-items: center;
        margin: 0 4rem;

        .player-skip {
            &:last-child {
                margin-left: 4rem;
            }
        }
    }

    .player-touch-progress {
        display: none;
    }

    @include on-landscape {
        .player-touch-progress {
            display: block;
        }

        .player-default-progress {
            display: none;
        }
    }
}
