@import "../helper/variables";
@import "../helper/mixins";

.season-list {
    border-radius: $radius;
    overflow: hidden;
    background-color: $gray-black;

    .season-list-episode {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 2rem;
        @include transition(background-color, 0.2s);
        border-bottom: 0.1rem solid $dark-gray;

        &:last-child {
            border: none;
        }

        @include hover {
            background-color: $dark-gray;

            .icon-play {
                color: $white;
            }
        }
    }

    .season-list-episode-group {
        display: flex;
        align-items: center;
    }

    .icon-play-wrapper {
        text-align: center;
    }

    .icon-play {
        display: none;
        min-width: 5rem;
        @include square(5rem);
        color: $dark-gray;
        @include transition(color, 0.2s);
    }

    .season-list-episode-number {
        padding-right: 2rem;
        @include text(episode-number);
    }

    .season-list-episode-image {
        position: relative;
        min-width: 6rem;
        @include square(6rem);
        border-radius: $radius;
        overflow: hidden;
        transform: translateZ(0);
        background-color: $black;
    }

    .season-list-episode-name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 2rem;
        @include text(h4);
    }

    .season-list-loading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem;
    }

    @include is-desktop {
        .season-list-episode {
            padding: 2rem 4rem 2rem 2rem;
        }

        .season-list-episode-number {
            text-align: center;
            width: 10rem;
        }

        .season-list-episode-image {
            height: 10rem;
            width: 15rem;
            min-width: 15rem;
        }

        .season-list-episode-name {
            margin: 0 3rem;
        }

        .icon-play {
            display: block;
        }
    }
}
