@import "../helper/variables";
@import "../helper/mixins";

.card {
    @include transition(transform, 0.3s);

    .card-image-wrapper {
        overflow: hidden;
        transform: translateZ(0);
        border-radius: $radius;
        width: 100%;
        height: 35rem;
    }

    .card-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        @include transition(transform, 0.3s);
    }

    .card-progress {
        opacity: 0;
        @include transition(opacity, 0.3s);
    }

    @include hover {
        transform: translateY(-1.5rem);

        .card-image {
            transform: scale(1.025);
        }

        .card-progress {
            opacity: 1;
        }
    }
}
