@import "../helper/variables";
@import "../helper/mixins";

.navigation {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(180deg, $black 0%, transparent 100%);

    .navigation-inner {
        display: flex;
        align-items: center;
        padding: 2rem 0;
        @include content-width;
        line-height: 1;
    }

    .navigation-group {
        display: flex;
        margin: 0.3rem -1rem 0 5rem;

        .navigation-link {
            margin: 0 1rem;
        }
    }

    .navigation-logo {
        font-size: 2.5rem;
        letter-spacing: -0.15rem;
        font-weight: 900;
    }
}
