@import "../helper/variables";
@import "../helper/mixins";

.opener {
    position: relative;
    min-height: 60rem;
    display: flex;
    align-items: center;

    .opener-inner {
        width: 100%;
        z-index: 1;
        @include content-width;
    }

    .opener-headline {
        @include text(h1);
    }

    .opener-info {
        margin-top: 1rem;
        @include text(meta);
    }

    .opener-info-separator {
        &::after {
            content: "|";
            margin: 0 1rem;
        }
    }

    .opener-text {
        max-width: 50rem;
        margin: 1rem 0 2rem;
    }

    .opener-background {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .opener-background-image {
        object-fit: cover;
        object-position: 50% 20%;
        width: 100%;
        height: 100%;
    }

    .opener-bottom-overlay,
    .opener-left-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .opener-bottom-overlay {
        background: linear-gradient(0deg, $black 0%, transparent 100%);
    }

    .opener-left-overlay {
        background: linear-gradient(90deg, $black-75 0%, transparent 100%);
    }
}


